RewriteEngine On

ErrorDocument 404 /error404
ErrorDocument 500 /error500

RewriteRule ^error404$ controllers/pageNotFoundController.php
RewriteRule ^error500$ controllers/internalServerErrorController.php

RewriteRule ^$ controllers/homeController.php

RewriteRule ^news$ controllers/newsMainController.php
RewriteRule ^newsSingle$ controllers/newsSingleController.php

RewriteRule ^map$ controllers/mapMainController.php

RewriteRule ^user$ controllers/userMainController.php
RewriteRule ^userpage$ controllers/userPageController.php
RewriteRule ^admin$ controllers/userPageAdminController.php
RewriteRule ^useredit$ controllers/userEditController.php
RewriteRule ^userdelete$ controllers/userDeleteController.php

RewriteRule ^editpassword$ controllers/userEditPasswordController.php

RewriteRule ^contactus$ controllers/contactUsController.php