header h2{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.parallax-container {
    height: 550px;
}
.parallax-container img{
    width: 100vh !important;
    object-fit: cover;
}

#homeCarousel{
    height: 600px;
}
#homeCarousel img{
    height: 200px;
    width: 200px;
}