header h2{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
header .parallax-container {
    height: 80vh;
}
header .parallax-container img{
    width: 100vh !important;
    object-fit: cover;
}

.parallax-container {
    height: 45vh;
}
.parallax-container img{
    width: 100vh !important;
    object-fit: cover;
}


#homeCarousel{
    height: 600px;
}
#homeCarousel img{
    height: 200px;
    width: 200px;
}