.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
  z-index: 0 !important;
}
/* ----------------------- CUSTOM VARS --------------------------  */
.unset {
  all: unset;
}
.backgroundBlue {
  background-color: #01579b !important;
  color: #01579b !important;
}
.display-none {
  display: none;
}
.hidden {
  visibility: hidden !important;
}
.visible {
  visibility: visible !important;
}

/* ---------------------- END CUSTOM VARS -------------------------- */
:root {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}
body {
  font-size: 1rem;
  background-color: aliceblue;
}
h1,h2,h3,h4,h5,.btn,.tab{
  font-family: "Sigmar One", cursive;
}
@media (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 2rem;
    padding: 2%;
  }
}
nav ul {
  overflow: hidden !important;
}
blockquote{
  margin: 3rem;
  border-left-color:  #01579b !important;
  font-style: italic;
}
form{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.sidenav a{
  font-family: "Sigmar One", cursive !important;
}
.row {
  margin-bottom: 0;
}
.material-icons{
  width: 32px !important;
  /* height: 32px !important; */
}
form i{
  color: #01579b !important;
}
.modal {
  overflow: hidden;
}
.btn {
  width: 75% !important;
  font-size: 1rem;
  color: white !important;
  background-color: #01579b !important;
}
.error-text {
  color: red;
}
.textInputField{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* INPUT FIELDS TEXT  */
:focus {
  border-bottom: 1px solid #01579b !important;
  box-shadow: 0 1px 0 0 #01579b !important;
}
.active {
  color: #01579b !important;
}

/* DATE PICKER */
button:focus {
  background-color: #01579b !important;
}
.datepicker-date-display {
  background-color: #01579b !important;
}
.datepicker-table td.is-selected {
  background-color: #01579b !important;
  color: white !important;
}
.is-today {
  color: #01579b !important;
}
.confirmation-btns button {
  color: #01579b !important;
}

/* APPOINTMENT/PATIENT LISTS  */
.pagination li.active {
  background-color: #01579b;
}
.emptyListItem {
  height: 26.5px;
}

/* TABS COMPONENT  */
.tabs .tab a{
  color: #01579b;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background-color: aliceblue;
}
.tabs .indicator{
  background-color: #01579b;
}