.nav-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "Sigmar One", cursive;
}
#logo {
  width: 40px;
  height: 100%;
  margin-right: 10px;
}
#mobileLogo{
  margin: 100px auto !important;
}
/* .logoDiv{ */
  /* width: 100%; */
/* } */
#navbar{
  display: flex !important;
  justify-content: space-between !important;
}
/* #navlist */
.navBarLogoText {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  padding-top: 0.8rem;
}

#fixedMenuBtn {
  position: fixed;
  right: 42px;
  bottom: 42px;
}

@media (min-width: 600px) {
  #fixedMenuBtn {
    position: fixed;
    right: 61px;
    bottom: 42px;
  }
}

@media (min-width: 900px) {
  #fixedMenuBtn {
    display: none;
  }
}
#fixedMenuBtn i{
    padding: 0.1rem;
    border-radius: 50%;
    background-color: #fafafa;
    border: 2px solid #212121 ;
}
#mobile-demo a{
  color: rgba(0,0,0,0.54);
}