#userPageList{
    justify-content: space-around;
    align-items: center;
}

#userPageList li{
    padding: 0;
    margin: 0;
}

/* 
example of backgroundBTN customization
a.btn{
a.btn, div.btn {
    background-image: url('/public/assets/img/btn/bg-btn.png');
    background-size: cover;
    color: black;
} */

#showProfileImg{
    height: auto;
    width: 20vw;
    border-radius: 50%;
}

.card{
    margin: 10rem auto 10rem auto ;
}