#mainAdmin {
  padding-left: 300px !important;
}

@media only screen and (max-width: 992px) {
    #mainAdmin {
    padding-left: 0 !important;
  }
}

#searchForm{
    padding: 0;
}

#newsList{
  padding-top: 100px;
}

.collapsible-header{
  font-family: "Sigmar One", cursive !important;
}

.collapsible-body ul{
  display: flex;
  flex-direction: column;
  overflow:visible;
  height: max-content;
}

/* removes little blue bar inside the end of <ul class="tabs"> */
.tabs .indicator{
  height: 0;
}