#userPageList{
    justify-content: space-around;
    align-items: center;
}

#userPageList li{
    padding: 0;
    margin: 0;
}

#userMain.card{
    margin: 10rem auto 10rem auto ;
}

/* PROFILE IMAGE SETUP  */
/* mobile  */
#showProfileImg{
    height: 10rem;
    width: 10rem;
}
/* desk or more  */
@media (width >= 769px){
    #showProfileImg{
        height: 15rem;
        width: 15rem;
    }
}
/* END -- PROFILE IMAGE SETUP  */

