#mainAdmin {
  padding-left: 300px !important;
}

@media only screen and (max-width: 992px) {
    #mainAdmin {
    padding-left: 0 !important;
  }
}

#searchForm{
    padding: 0;
}

#newsList, #spotsList{
  padding-top: 100px;
}

nav.headermargin{
    margin-bottom: 100px;  
}

.collapsible-header{
  font-family: "Sigmar One", cursive !important;
}

.collapsible-body ul{
  display: flex;
  flex-direction: column;
  overflow:visible;
  height: max-content;
}

/* removes little blue bar inside the end of <ul class="tabs"> */
.tabs .indicator{
  height: 0;
}
.smaller{
  font-size: smaller;
}

/* slide-out and slide-out li --- to stick mini footer on bottom  */
#slide-out {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#slide-out li {
  flex: 1 0 auto;
}