footer{
    color: red;
}
.parallax-container {
    height: 550px;
}
.parallax-container img{
    width: 100%;
    object-fit: cover;
}
#homeCarousel{
    height: 700px;
}
#homeCarousel .card{
    width: 300px;
}
#homeCarousel img{
    height: 300px;
    width: 300px;
}